<footer class="main-info-container"
    style="margin: 10px; max-width: 100%; font-size: 10px;box-sizing: border-box;">
    <div class="font-super-small" style="font-size: 7px;" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI';">
        <%=companyBusinessTerm%>
    </div>

    <hr style="width: 570px;" />

    <div class="font-super-small" style="font-size: 7px;" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI';">
        <%=footerEmailAddress%>
    </div>
</footer>
